<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style/css/style.css"/>
    <!--fuente: yanone kafeesatz-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap"/>
    <title>Bizz Customs - Inicio</title>
</head>
<body>
    <header>
        <div><button id="tema" type="button">Tema Oscuro</button></div>
        <div class="carrito"><a href="./carrito.html"><img src="../assets/images/carro.png" alt="carrito"></a></div>
    </header>
    <div class="logo"><a href="../index.html"><img src="../assets/img-pagina/logo.png" alt="logo"/></a></div>
    <nav>
        <ul>
            <li><a href="./productos.html">Productos</a></li>
            <li><a href="./compatibilidad.html">Compatibilidad</a></li>
            <li><a href="./calculadora.html">Calcular Watts</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
        </ul>
        <form id="search"action="" method="">
            <input type="search" placeholder="Buscar..." name="buscar" id="buscar">
        </form>
    </nav>
    <section>
		<form name="carrito" action="" method="get">
			<button id="vaciar">vaciar carrito</button>
			<button id="mostrar">mostrar carrito</button>
		</form>
    </section>
    <footer>
        <div><a href="./sobre-nosotros.html">Sobre nosotros</a></div>
        <div> Relleno </div>
        <div><a href="./contacto.html">Contacto</a></div>
    </footer>
</body>
<script language="javascript" type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="../assets/js/tema.js" language="javascript" type="text/javascript"></script>
<script src="../assets/js/carrito.js" language="javascript" type="text/javascript"></script>
</html>