<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style/css/style.css"/>
    <!--fuente: yanone kafeesatz-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap"/>
    <title>Bizz Customs - Inicio</title>
</head>
<body>
    <header>
        <div><button id="tema" type="button">Tema Oscuro</button></div>
        <div class="carrito"><a href="./carrito.html"><img src="../assets/images/carro.png" alt="carrito"></a></div>
    </header>
    <div class="logo"><a href="../index.html"><img src="../assets/img-pagina/logo.png" alt="logo"/></a></div>
    <nav>
        <ul>
            <li><a href="./productos.html">Productos</a></li>
            <li class="itemMenu active"><a href="./compatibilidad.html">Compatibilidad</a></li>
            <li><a href="./calculadora.html">Calcular Watts</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
        </ul>
        <form id="search"action="" method="">
            <input type="search" placeholder="Buscar..." name="buscar" id="buscar">
        </form>
    </nav>
    <section id="compatibilidad">
        <!--pruebas para una funcion de compatibilidad entre partes de pc (sin ventas)
            hacer que el formulario ocupe 2 tercios o la mitad de la pantalla para mostra
            las sugerencias y errores del otro lado en tiempo real-->
		<form id="compat" name="compatibilidades" method="get">
            <div id="marca">
                <input type="radio" name="cpu" id="intel" value="intel">
                <label for="intel"><img src="../assets/images/1280px-Intel-logo.svg.png" alt="intel"></label>
                <input type="radio" name="cpu" id="amd" value="amd">
                <label for="amd"><img src="../assets/images/AMD-Logo_grande.png" alt="amd"></label>
                <!-- hacer que los botones marquen un radio invisible-->
            </div>

            <div id="mother"><!--placa madre-->
                    <input type="text" name="chipset" placeholder="chipset"><br>
                    <input type="text" name="socket" placeholder="socalo de placa madre"><br>
                    <input type="text" name="nombreMother" placeholder="nombre"><br>
                <br><p>Tiene salidas de video?</p><br>
                    <input type="radio" name="tamMother" value="mini-itx" id="mini">
                    <label for="mini">Mini-ITX</label> 
                    <input type="radio" name="tamMother" value="micro-atx" id="micro">
                    <label for="micro">Micro-ATX</label> 
                    <input type="radio" name="tamMother" value="atx" id="at">
                    <label for="at">ATX</label>
                    <input type="radio" name="tamMother" value="eatx" id="eat">
                    <label for="eat">EATX</label><br>
                <br><p>Tiene salidas de video?</p><br>
                    <input type="radio" name="video" value="si" id="s1">
                    <label for="s1">si</label>
                    <input type="radio" name="video" value="no" id="n1">
                    <label for="n1">no</label><br>
                <br><p>Cuantas ranuras para ram tiene la motherboard?</p><br>
                    <input type="radio" name="rams" value="2" id="ran2">
                    <label for="ran2">2</label>
                    <input type="radio" name="rams" value="4" id="ran4">
                    <label for="ran4">4</label><br>
                <p>Cuantos puertos SATA tiene?</p><br>
                    <input type="number" name="sata" placeholder="Puertos SATA" min="4" max="8"><br>
                <p>Cuantos puertos M.2 tiene?</p><br>
                    <input type="number" name="m2" placeholder="Puertos M.2" min="0" max="3"><br>
                <p>Cuantos puertos PCI-Express tiene?</p><br>
                    <input type="number" name="pcie1" placeholder="Puertos PCI-Express" min="0" max="3"><br>
                    <input type="radio" name="lineas1" id="lineas11" value="1">
                    <label for="lineas11">x1</label>
                    <input type="radio" name="lineas1" id="lineas14" value="4">
                    <label for="lineas14">x4</label>
                    <input type="radio" name="lineas1" id="lineas18" value="8">
                    <label for="lineas18">x8</label>
                    <input type="radio" name="lineas1" id="lineas116" value="16">
                    <label for="lineas116">x16</label><br>

                    <input type="number" name="pcie2" placeholder="Puertos PCI-Express" min="0" max="3"><br>
                    <input type="radio" name="lineas2" id="lineas21" value="1">
                    <label for="lineas21">x1</label>
                    <input type="radio" name="lineas2" id="lineas24" value="4">
                    <label for="lineas24">x4</label>
                    <input type="radio" name="lineas2" id="lineas28" value="8">
                    <label for="lineas28">x8</label>
                    <input type="radio" name="lineas2" id="lineas216" value="16">
                    <label for="lineas216">x16</label> <br>

                    <input type="number" name="pcie3" placeholder="Puertos PCI-Express" min="0" max="3"><br>
                    <input type="radio" name="lineas3" id="lineas31" value="1">
                    <label for="lineas31">x1</label>
                    <input type="radio" name="lineas3" id="lineas34" value="4">
                    <label for="lineas34">x4</label>
                    <input type="radio" name="lineas3" id="lineas38" value="8">
                    <label for="lineas38">x8</label>
                    <input type="radio" name="lineas3" id="lineas316" value="16">
                    <label for="lineas316">x16</label> <br>

                    <input type="number" name="pcie4" placeholder="Puertos PCI-Express" min="0" max="3"><br>
                    <input type="radio" name="lineas4" id="lineas41" value="1">
                    <label for="lineas41">x1</label>
                    <input type="radio" name="lineas4" id="lineas44" value="4">
                    <label for="lineas44">x4</label>
                    <input type="radio" name="lineas4" id="lineas48" value="8">
                    <label for="lineas48">x8</label>
                    <input type="radio" name="lineas4" id="lineas416" value="16">
                    <label for="lineas416">x16</label><br>
                <p>Cuantos puertos PCI tiene?</p><br>
                    <input type="number" name="pci" placeholder="Puertos PCI" min="0" max="3"><br>
                <br><p>Tiene RGB</p><br>
                    <input type="radio" name="rgb" id="s2" value="si">
                    <label for="s2">si</label>
                    <input type="radio" name="rgb" id="n2" value="no">
                    <label for="n2">no</label><br>
            </div>

            <div id="cpu">
            <!--cpu / invisible hasta que se termine la primer seccion que corresponde al mother-->
                <br><p>Nombre del CPU </p><br>
                    <input type="text" name="nombreCpu" placeholder="(sin marca)"><br>
                    <!--sacar generacion y gama a partir del nombre y marca en js-->
                <br><p>Tiene gpu integrada</p><br>
                    <input type="radio" name="apu" id="s3" value="si">
                    <label for="s3">si</label>
                    <input type="radio" name="apu" id="n3" value="no">
                    <label for="n3">no</label><br>
                    <!--a partir de chipset y generacion conseguir el tipo de ram que usa-->
            </div>

            <div id="ram">
                <br><p>tipo de ram</p><br>
                <select name="tipoRam">
                    <option value="ddr4">DDR4</option>
                    <option value="ddr3">DDR3</option>
                </select><br>
                <input type="number" name="modulosRam" placeholder="cantidad de modulos" min="1" max="4"><br>
                <input type="radio" name="ram" id="2gb" value="2">
                <label for="2gb">2gb</label>
                <input type="radio" name="ram" id="4gb" value="4">
                <label for="4gb">4gb</label>
                <input type="radio" name="ram" id="8gb" value="8">
                <label for="8gb">8gb</label>
                <input type="radio" name="ram" id="16gb" value="16">
                <label for="16gb">16gb</label><br>
            </div>

            <div id="gpu"><!--gpu / tambien invisible hasta que este listo lo anterior-->
                <br><p>Tiene placa de video dedicada</p><br>
                    <input type="radio" name="gpu" value="si" id="s4">
                    <label for="s4">si</label>
                    <input type="radio" name="gpu" value="no" id="n4">
                    <label for="n4">no</label><br>
                    <input type="text" name="nombreGpu" id="nombreGpu"placeholder="nombre de la placa de video"><br>
                <br><p>Cantidad de ventiladores</p><br> <!--para calcular largo de gpu aprox-->
                    <input type="radio" name="fans" value="170" id="chica">
                    <label for="chica">0</label>
                    <input type="radio" name="fans" value="220" id="media">
                    <label for="media">1</label>
                    <input type="radio" name="fans" value="270" id="grande">
                    <label for="grande">2</label>
                    <input type="radio" name="fans" value="315" id="muyGrande">
                    <label for="muyGrande">3</label><br>
            </div>

            <div id="discos">
                <br><p>Cantidad de discos</p><br> <!--para calcular SATAs disponibles/invisible-->
                    <input type="number" name="disco1" placeholder="cantidad de discos" min="1"><br>
                    <input type="radio" name="tipoDisco1" value="ssd" id="ssd1">
                    <label for="ssd1">ssd</label>
                    <input type="radio" name="tipoDisco1" value="hdd" id="hdd1">
                    <label for="hdd1">hdd</label>
                    <input type="radio" name="tipoDisco1" value="m2" id="m21">
                    <label for="m21">m.2</label>
                    <input type="radio" name="tipoDisco1" value="pcie" id="pcie11">
                    <label for="pcie11">pcie</label><br>

                    <input type="number" name="disco2" placeholder="cantidad de discos"min="1"><br>
                    <input type="radio" name="tipoDisco2" value="ssd" id="ssd2">
                    <label for="ssd2">ssd</label>
                    <input type="radio" name="tipoDisco2" value="hdd" id="hdd2">
                    <label for="hdd2">hdd</label>
                    <input type="radio" name="tipoDisco2" value="m2" id="m22">
                    <label for="m22">m.2</label>
                    <input type="radio" name="tipoDisco2" value="pcie" id="pcie22">
                    <label for="pcie22">pcie</label><br>

                    <input type="number" name="disco3" placeholder="cantidad de discos"min="1"><br>
                    <input type="radio" name="tipoDisco3" value="ssd" id="ssd3">
                    <label for="ssd3">ssd</label>
                    <input type="radio" name="tipoDisco3" value="hdd" id="hdd3">
                    <label for="hdd3">hdd</label>
                    <input type="radio" name="tipoDisco3" value="m2" id="m23">
                    <label for="m23">m.2</label>
                    <input type="radio" name="tipoDisco3" value="pcie" id="pcie33">
                    <label for="pcie33">pcie</label><br>

                    <input type="number" name="disco4" placeholder="cantidad de discos"min="1"><br>
                    <input type="radio" name="tipoDisco4" value="ssd"id="ssd4">
                    <label for="ssd4">ssd</label>
                    <input type="radio" name="tipoDisco4" value="hdd"id="hdd4">
                    <label for="hdd4">hdd</label>
                    <input type="radio" name="tipoDisco4" value="m2" id="m24">
                    <label for="m24">m.2</label>
                    <input type="radio" name="tipoDisco4" value="pcie" id="pcie44">
                    <label for="pcie44">pcie</label><br>
            </div>

            <div id="refri"><!--refrigeracion liquida/invisible-->
                <p>Kit AIO de refrigeracion liquida</p><br>
                    <select name="kit1">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                    <select name="tamKit1">
                        <option value="120">120mm</option>
                        <option value="240">240mm</option>
                        <option value="360">360mm</option>
                    </select><br>

                    <select name="kit2">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                    <select name="tamKit2">
                        <option value="120">120mm</option>
                        <option value="240">240mm</option>
                        <option value="360">360mm</option>
                    </select><br>

                <br><p>Bomba de refrigeracion liquida</p><br>
                    <!--se deshabilita si hay 2 aio-->
                    <select name="bomba1">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                    <select name="tipoBomba1">
                        <option value="deposito">con deposito</option>
                        <option value="normal">normal</option>
                        <option value="presion">alta presion</option>
                    </select><br>
                    <select name="bomba2">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                    <select name="tipoBomba2">
                        <option value="deposito">con deposito</option>
                        <option value="normal">normal</option>
                        <option value="presion">alta presion</option>
                    </select><br>
            </div>

            <div id="gabinete"><!--gabinete/invisible hasta calcular anterior-->
                <br><p>El gabinete tiene luces?</p><br>
                    <input type="radio" name="luces" value="si" id="s5">
                    <label for="s5">si</label>
                    <input type="radio" name="luces" value="no" id="n5">
                    <label for="n5">no</label><br>
                <br><p>Tamaño de mother permitidas por el gabinete</p><br>
                    <span id="checkboxs">
                    <input type="checkbox" id="min" name="miniItx" value="mini-itx">
                    <label for="min"> Mini-ITX </label>
                    <input type="checkbox" id="micr" name="microAtx" value="micro-atx">
                    <label for="micr"> Micro-ATX </label>
                    <input type="checkbox" id="atx" name="atx" value="atx">
                    <label for="atx"> ATX </label>
                    <input type="checkbox" id="ea" name="eatx" value="eatx">
                    <label for="ea"> EATX </label>
                    </span><br>
                <br><p>Largo maximo de gpu permitidas por el gabinete</p><br>
                    <input type="number" name="largo" placeholder="largo en milimetros"><br>
                <br><p>Cantidad de ventiladores posibles</p><br>
                    <select name="numFans1">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                    <select name="fans1">
                        <option value="80">80mm</option>
                        <option value="92">92mm</option>
                        <option value="120">120mm</option>
                        <option value="140">140mm</option>
                        <option value="200">200mm</option>
                        <option value="250">250mm</option>
                    </select>frontales<br>

                    <select name="numFans2">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                    <select name="fans2">
                        <option value="80">80mm</option>
                        <option value="92">92mm</option>
                        <option value="120">120mm</option>
                        <option value="140">140mm</option>
                        <option value="200">200mm</option>
                        <option value="250">250mm</option>
                    </select>laterales<br>

                    <select name="numFans3">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                    <select name="fans3">
                        <option value="80">80mm</option>
                        <option value="92">92mm</option>
                        <option value="120">120mm</option>
                        <option value="140">140mm</option>
                        <option value="200">200mm</option>
                        <option value="250">250mm</option>
                    </select>superiores<br>

                    <select name="numFans4">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                    <select name="fans4">
                        <option value="80">80mm</option>
                        <option value="92">92mm</option>
                        <option value="120">120mm</option>
                        <option value="140">140mm</option>
                        <option value="200">200mm</option>
                        <option value="250">250mm</option>
                    </select>traseros<br>
            </div><br>
        </form>
        <div id="conclusion">
            
        </div>
    </section>
    <footer>
        <div><a href="./sobre-nosotros.html">Sobre nosotros</a></div>
        <div> Relleno </div>
        <div><a href="./contacto.html">Contacto</a></div>
    </footer>
</body>
<script language="javascript" type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="../assets/js/tema.js" language="javascript" type="text/javascript"></script>
<script src="../assets/js/compatibilidad.js" language="javascript" type="text/javascript"></script>
</html>